<h1 class="display-5 text-center">Productos</h1>
<hr>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://www.chevrolet.com.co/carros/joy-sedan" target="_blank"><img src="assets/img/bmw.jpg" class="d-block w-100"></a> 
            <div class="carousel-caption d-none d-md-block">
                <h3>BMW</h3>
                <p>Desde: $70.000.000.</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="https://www.chevrolet.com.co/carros/beat-carro-sedan" target="_blank"><img src="assets/img/mercedes.jpg" class="d-block w-100"></a>
            <div class="carousel-caption d-none d-md-block">
                <h3>Mercedes Benz</h3>
                <p>Desde: $180.000.000.</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="https://www.chevrolet.com.co/carros/camaro-carro-de-carrera" target="_blank"><img src="assets/img/negro.jpg" class="d-block w-100"></a>
            <div class="carousel-caption d-none d-md-block">
                <h3>Camaro SIX SS</h3>
                <p>Desde: $200.000.000.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>