
<div class="card mt-3 text-white bg-dark">
    <img src="assets/img/otrocarros.png"  class="d-block w-100">
    <div class="card-body">
        <h5 class="card-title text-danger">Misión</h5>
        <p>Estamos comprometidos con la seguridad en todo lo que hacemos: ganamos clientes para toda la vida, desarrollamos marcas que inspiran pasión y lealtad, transformamos tecnologías de vanguardia en vehículos y experiencias que la gente adora, y creamos soluciones sostenibles que mejoran las comunidades en las que vivimos y trabajamos.</p>
    </div>
</div>

